<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RecyclerViewSampleCode">

        <!-- Activity shown when an item is selected -->
        <activity
            android:name="com.example.project5.ItemSelectedActivity"
            android:label="Item Selected Activity"
            android:parentActivityName="com.example.project5.MainMenuActivity"
            android:exported="false" />

        <!-- Activity showing drinks RecyclerView -->
        <activity
            android:name="com.example.project5.MainActivity"
            android:exported="false" />

        <activity
            android:name="com.example.project5.BeveragesActivity"
            android:exported="false" />

        <!-- Activity showing sides RecyclerView -->
        <activity
            android:name="com.example.project5.SidesActivity"
            android:exported="false" />

        <activity
            android:name="com.example.project5.BurgerActivity"
            android:exported="false" />

        <activity
            android:name="com.example.project5.ComboActivity"
            android:exported="false" />

        <activity
            android:name="com.example.project5.SandwichActivity"
            android:exported="false" />

        <activity android:name="com.example.project5.CurrentOrderActivity"
            android:exported="false"/>

        <activity android:name="com.example.project5.AllOrdersActivity"
            android:exported="false"/>

        <!-- If you plan to implement the ComboActivity as well, add this too -->

        <!-- Launcher activity with menu buttons -->
        <activity
            android:name="com.example.project5.MainMenuActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!-- Add this inside the <application> tag in your AndroidManifest.xml -->
        <activity
            android:name="com.example.project5.SizesActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

    </application>

</manifest>
